<nav class="navbar navbar-toggleable-md navbar-light bg-faded" *ngIf="showToolbar()">
  <button (click)="isNavbarCollapsed = !isNavbarCollapsed" class="navbar-toggler text-right" style="width: 100%;" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-center"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngbCollapse]="isNavbarCollapsed">
    <a class="hidden-sm-down navbar-brand" href="./">My Wages</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active text-center">
        <a class="nav-link" href="/wages">Liquidaciones <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link disabled" href="#" placement="bottom" ngbTooltip="En desarrollo">Certificados</a>
      </li>
    </ul>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="logout()" placement="left" ngbTooltip="Salir">
      <i class="fa fa-power-off" aria-hidden="true"></i>
    </button>
  </div>
</nav>
